@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@100..900&display=swap');

:root {
    --header-height: 4rem;

    --first-color: #0000FF;
    --first-color-alt: #e2eff3;
    --second-color: #00BFFF;
    --title-color: hsl(0,0%, 13%);
    --text-color: hsl(240, 14%, 24%);
    --text-color-light: hsl(60, 1%, 56%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 93%);
    --border-color: hsl(129, 36%, 85%);
    --border-color-alt: hsl(113, 15%, 90%);

    --body-font: 'Lato', sans-serif;
    --second-font: 'Spartan', sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;

    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --transition: cubic-bezier(0, 0, 0.05, 1);
}

@media screen and (max-width: 1200px) {
    :root {
        --big-font-size: 2.25rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.375rem;
        --h3-font-size: 1.25rem;
        --h4-font-size: 1.125rem;
        --large-font-size: 1rem;
        --normal-font-size: 0.9375rem;
        --small-font-size: 0.8125rem;
        --smaller-font-size: 0.6875rem;
        --tiny-font-size: 0.625rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
body {
    color: var(--text-color);
    font: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
}
body {
    background-color: var(--body-color);
}

h1, h2, h3, h4 {
    font-family: var(--second-color);
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
 color: var(--first-color);
}

hr {
    margin-bottom: 20px;
    background-color: var(--first-color-alt);
}

img {
    max-width: 100%;
}

button,
textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: .75rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem;
}

.section--lg {
    padding-block: 4rem;
}

.section__title {
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
}

.section__title span {
    color: var(--first-color);
}

.form__input {
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.5rem;
    font-size: var(--small-font-size);
}

.flex {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.new__price {
    color: var(--first-color);
    font-weight: var(--weight-600);
}

.old__price {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

/* Header & Nav */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.header__top {
    background-color:  var(--first-color-alt);
    padding-block: 0.875rem;
}

.header__nav {
    position: sticky;
    top: var(--header-height);
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__contact span:first-child {
    border-right: 1px solid #000;
    padding-right: 10px;
    margin-right: 5px;
}

.header__contact span,
.header__top-action {
    font-size: var(--small-font-size);
}

.header__top-action {
    color: var(--text-color);
}

.nav,
.nav__menu,
.nav__list,
.header__user-actions {
    display: flex;
    align-items: center;
}

.nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: space-between;
    column-gap: .25rem;
}

.nav__logo-img {
    width: 150px;
}

.nav__menu {
    flex-grow: 1;
    margin-left: 2.5rem;
}

.nav__list {
    column-gap: 2.5rem;
    margin-right: auto;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
}

.header__search {
    width: 340px;
    position: relative;
}

.header__search .form__input{
    width: 100%;
}

.search__btn {
    position: absolute;
    top: 34%;
    right: 1.25rem;
    cursor: pointer;
}

.header__user-actions {
    column-gap: 1.25rem;
}

.header__action-btn {
    position: relative;
}

.header__action-btn img {
    width: 24px;
}

.header__action-btn .count {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}

.nav__menu-top,
.nav__toggle {
    display: none;
}

/* active-link */
.active-link,
.nav__link:hover {
    color: var(--first-color);
}

/* Home */
.home__container  {
    grid-template-columns: 8fr 4fr;
    align-items: center;
}

.home__data img {
    width: 100%;
    height: 160px; 
    border-radius: .25rem;
    margin-bottom: .5rem;
}

.home__images {
    overflow: hidden;
}

.home__img {
    width: 900px;
    height: 350px;
    border-radius: .8rem;
}

.banners {
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
}

/* About */
.about {
    margin-bottom: 4rem;
}

.about__container {
    grid-template-columns: 6fr 6fr;
    align-items: center;
    margin-top: 7rem;
}

.about__subtitle,
.about__description {
    font-size: var(--large-font-size);
}

.about__subtitle {
    font-family: var(--second-color);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
    display: block;
}

.about__title {
    font-size: var(--h1-font-size);
    font-weight: var(--weight-700);
    line-height: 1.4;
}

.about__description {
    margin-block: .5rem 2rem;
}

.about__img {
    justify-self: flex-end;
}

.about__title span {
    color: var(--first-color);
    font-size: var(--big-font-size);
}

.about__images {
    display: flex;
    justify-content: center;
}

.about__img-1,
.about__img-2 {
    width: 250px;
}

.about__img-1 {
    transform: translateX(2rem) rotate(20deg) translateY(5rem);
}

/* btn */
.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
}

/* categories */
.categories {
    overflow: hidden;
}

.category__item {
    text-align: center; 
    border: 1px solid var(--border-color);
    padding: .625rem 0.625rem 1.25rem;
    border-radius: 1.25rem;
}

.category__img {
    width: 170px;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
}

.category_title {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

/* swiper class */
.swiper {
    overflow: initial;
    margin-top: 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.category {
    top: -3rem;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
}

.left {
    left: initial;
    right: 2.5rem;
}

.right {
    right: 0;
}

/* discount */
.discount__container {
    row-gap: 3.5rem;
    grid-template-columns: repeat(2,1fr);
}

.discount__data {
    text-align: center;
}

.discount__tittle {
    margin-bottom: 1rem;
}

.discount__description {
    margin-bottom: 2rem;
}

.discount__images {
    display: flex;
    justify-content: center;
}

.discount__img-1,
.discount__img-2 {
    width: 250px;
}

.discount__img-1 {
    transform: translateX(1rem) rotate(-10deg);
}

/* products */
.tab__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.tab__btn {
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 1rem;
    border-radius: .25rem;
    font-family: var(--second-color);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}

.products__container {
    grid-template-columns: repeat(4,1fr);
}

.product__item {
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    transition: all 0.2s var(--transition);
}

.product__banner {
    padding: 0.625rem 0.75rem 0.75rem;
}

.product__banner,
.product__images {
    position: relative;
}

.product__images {
    display: block;
    overflow: hidden;
}

.product__img {
    vertical-align: middle;
    transition: all 1.5s var(--transition);
}

.product__item:hover .product__img {
    transform: scale(1.1);
}

.product__img.hover {
    position: absolute;
    top: 0;
    left: 0;
}

.product__actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 0.5rem;
    transition: all .2s var(--transition);
}

.action__btn {
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: var(--small-font-size);
    position: relative;
}

.action__btn::before,
.action__btn::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action__btn::before {
    content: '';
    top: -2px;
    border: .5rem solid transparent;
    border-top-color: var(--first-color);
}

.action__btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: var(--first-color);
    color: var(--border-color);
    font: var(--tiny-font-size);
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.product__badge {
    position: absolute;
    left: 1.24rem;
    top: 1.25rem;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .25rem .625rem;
    border-radius: 2.5rem;
    font-size: var(--tiny-font-size);
}

.product__badge.light-pink {
    background-color: hsl(341, 100%, 73%);
}

.product__badge.light-green {
    background-color: hsl(155, 20%, 67%);
}

.product__badge.light-orange {
    background-color: hsl(24, 100%, 73%);
}

.product__badge.light-blue {
    background-color: hsl(202, 53%, 76%);
}

.product__content {
    padding: 0 1.25rem 1.25rem;
    position: relative;
}

.product__category {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}

.product__title {
    font-size: var(--normal-font-size);
    margin-block: 0.75rem 0.5rem;
}

.product__rating {
    font-size: var(--smaller-font-size);
    margin-bottom: 0.75rem;
}

.icon-star {
    color: hsl(24, 100%, 73%) ;
}

.product__price .new__price {
    font-size: var(--large-font-size);
}

.cart__btn {
    position: absolute;
    bottom: 1.6rem;
    right: 1.25rem;
}

/* active tab */
.tab__btn.active-tab {
    color: hsl(0, 0%, 100%);
    background-color: var(--second-color);
}

.tab__item:not(.active-tab) {
    display: none;
}

/* product hover */
.product__img.hover,
.product__actions,
.action__btn::before,
.action__btn::after,
.product__item:hover .product__img.default {
    opacity: 0;
}

.product__item:hover .product__img.hover,
.product__item:hover .product__actions,
.action__btn:hover::before,
.action__btn:hover::after {
    opacity: 1;
}

.action__btn:hover::before,
.action__btn:hover::after {
    transform: translateX(-50%) translateY(-0.5rem);
}

.action__btn:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.action__btn:hover i {
    color: var(--body-color);
}

/* Newsletter */
.newsletter {
    background-color: #87CEEB;
}

.home__newsletter {
    margin-top: 2rem;
}

.newsletter__container {
    grid-template-columns: repeat(2, 3.5fr) 5fr;
    align-items: center;
    column-gap: 3rem;
}

.newsletter__title {
    column-gap: 1rem;
    font-size: var(--large-font-size);
}

.newsletter__icon {
    width: 40px;
}

.newsletter__description {
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    text-align: center;
}

.newsletter__form {
    display: flex;
}

.newsletter__input,
.newsletter__btn {
    font-size: var(--small-font-size);
}

.newsletter__input {
    background-color: var(--body-color);
    padding-inline: 1.25rem;
    width: 100%;
    height: 48px;
    border-radius: 0.25rem 0 0 0.25rem;
}

.newsletter__btn {
    background-color: #191970;
    color: var(--body-color);
    padding-inline: 2rem;
    border-radius: 0 0.25rem 0.25rem 0;
    font-family: var(--second-font);
    font-weight: var(--weight-500);
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s var(--transition);
}

.newsletter__btn:hover {
    color: var(--first-color);
}

/* Footer */
.footer__container {
    grid-template-columns: 4.5fr repeat(2, 2fr) 3.5fr;
    padding-block: 2.5rem;
}

.footer__logo-img {
    width: 120px;
}

.footer__subtitle {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-block: 1.25rem 0.635rem;
}

.footer__description, p {
    margin-bottom: 0.25rem;
    padding: 0.25em;
    line-height: 1.5;
}

.footer__description span {
    font-weight: var(--weight-600);
}

.footer__social .footer__subtitle {
    margin-top: 1.875rem;
}

.footer__social-links {
    column-gap: 0.25rem;
}

.footer__social-icon {
    width: 20px;
    opacity: 0.7;
}

.footer__title {
    font-size: var(--large-font-size);
    margin-block: 1rem 1.25rem;
}

.footer__link {
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    display: block;
    transition: all .3s var(--transition);
}

.footer__link:hover {
    color: var(--first-color);
    margin-left: 0.25rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
    border-top: 1px solid var(--border-color-alt);
}

.copyright, 
.designed {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

/* large device */
@media screen and (max-width: 1400px){
    .container {
        max-width: 1140px;
    }

    .products__container {
        grid-template-columns: repeat(5,1fr);
    }
}

@media screen and (max-width: 1200px){
    .container {
        max-width: 960px;
    }

    .nav {
        height: calc(--header-height) + 1.5rem;
    }

    .nav__logo-img {
        width: 116px;
    }

    .nav__menu {
        position: fixed;
        right: -100%;
        top: 0;
        max-width: 400px;
        width: 100%;
        height: 100%;
        padding: 1.25rem 2rem;
        background-color: var(--body-color);
        z-index: 100;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2rem;
        box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.1);
        transition: all 0.25s var(--transition);
    }

    .show-menu{
        right: 0;
    }

    .nav__list {
        order: 1;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.5rem;
    }

    .nav__link {
        font-size: var(--large-font-size);
    }

    .header__search .form__input {
        border-color: var(--first-color);
    }

    .nav__menu-top,
    .nav__toggle {
        display: flex;
    }

    .nav__menu-top {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.25rem;
    }

    .nav__menu-logo img {
        width: 100px;
    }

    .nav__close {
        font-size: var(--h2-font-size);
        line-height: 1rem;
    } 

    .header__action-btn img {
        width: 21px;
    }

    .home__container {
        grid-template-columns: 4fr 2fr;
    }

    .about__container {
        grid-template-columns: 5.5fr 6.5fr;
    }

    .discount__container{
        grid-template-columns: 5.5fr 6.5fr;
    }

    .about__img-1,
    .about__img-2,
    .discount__img-1,
    .discount__img-2 {
        width: 200px;
    }
}

/* medium device */
@media screen and (max-width: 992px){
    .container {
        max-width: 740px;
    }

    .home__container,
    .about__container,
    .discount__container,
    .newsletter__container{
        grid-template-columns: 1fr;
    }

    .products__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .newsletter__description {
        display: none;
    }

    .home__img {
        justify-content: center;
    }

    .btn {
        height: 45px;
        line-height: 45px;
    }

    .btn--md {
        height: 42px;
        line-height: 29px;
    }

    .btn--sm {
        height: 38px;
        line-height: 35px;
    }

    .home__data {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .home__data img {
        padding: .5rem;
        border-radius: 1.5rem;
    }

    .section--lg {
        padding-block: 2rem;
    }

    .about {
        margin-bottom: 4rem;
    }

    .about__image {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    .container {
        max-width: 540px;
    }

    .footer__container {
        grid-template-columns: 100%;
    }

    .home__data {
        display: none;
    }
}

/* small device */
@media screen and (max-width: 576px){
    .category__item {
        padding-bottom: 1rem;
    }

    .products__container,
    .footer__container {
        grid-template-columns: 100%;
    }

    .category__img {
        margin-bottom: 1rem;
    }

    .footer__title {
        margin-top: .25rem;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 350px){
    .action__btn {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    .products__container,
    .footer__container {
        grid-template-columns: 100%;
    }

    .about__img {
        width: 100%;
    }

    .about__img-1,
    .about__img-2,
    .discount__img-1,
    .discount__img-2 {
        width: 150px;
    }

    .header__search{
        width: 100%;
    }
}